<% if @post.errors.any? %>
    <div class="alert alert-error">
      <h3>Please correct these problems:</h3>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>



 <%= form_for @post, :html => {class:"form-horizontal form-condensed form-add"}  do |f| %>
    <div class="control-group">
    <%= f.label :title, class:"control-label" %>
      <div class="controls">
    <%= f.text_field :title %>
      </div>
    </div>
    <div class="control-group">
    <%= f.label :url, class:"control-label"%>
      <div class="controls">
    <%= f.text_field :url %>
      </div>
    </div>
        <h4>or</h4>
      <div class="control-group">
    <%= f.label :text, class:"control-label" %>
        <div class="controls">
     <%= f.text_area :text, :rows => "3" %>
        </div>
      </div>
      <%= f.submit :class => 'btn btn-primary' %>

<% end %>

