<% if @post.errors.any? %>
    <div class="alert alert-error">
      <h3>Please correct these problems:</h3>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="container">

    <div class="row">


<%= form_for  @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.label :text %>
    <%= f.text_field :text %>
    <div class="form-actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>

              </div>
              </div>
<% end %>