<!DOCTYPE html>

<html>

<head>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <div class="container">
    <ul class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">NUBL</a>

        <div style="float: left;">
          <ul class="nav">

            <li class="active">
              <li><%= link_to "навіны", posts_path%></li>
            <li><%= link_to "папулярнае", posts_path%></li>
            <li><%= link_to "апытаначкі", posts_path%></li>
            <li><%= link_to "стварыць пост", new_post_path%></li>

          </ul>
        </div>

        <div style="float: right;">
          <ul class="nav">

            <li class="active">
            <% unless user_signed_in?%>
                 <li><%= link_to "уваход", new_user_session_path%></li>
            <%end%>
            <% if user_signed_in?%>
                <li><%= link_to "выхад", destroy_user_session_path%></li>
            <%end%>

            </ul>
        </div>
      </div>
    </ul>
         </div>

</head>
<body>
<script src="js/bootstrap.min.js"></script>
<%= yield %>

</body>
</html>

