<!DOCTYPE html>

<html>

<head>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <div class="container">
    <ul class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">NUBL</a>
        <ul class="nav">
          <li class="active">
            <% unless user_signed_in?%>
                <li><%= link_to "Увайсці", new_user_session_path%></li>
              <li><%= link_to "Увайсці", new_user_session_path%></li>
                    <%end%>
            </ul>
      </div>
    </ul>
         </div>

</head>
<body>
<script src="js/bootstrap.min.js"></script>
<%= yield %>

</body>
</html>

